.App {
  text-align: center;
  display: flex;
}

* 
{
  font-family: montserrat;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.side-menu
{
  position: fixed;
  background-color: black;
  width: 300px;
  height: 100%;
}

.logo-section
{
  position: fixed;
  background-color: red;
  color:white;
  width: 300px;
  height: 15%;
}

.title
{
  margin-top: 7px;
}

.chat{
  background-color: #ebebeb;
  background-color: #ebebeb;
  min-height: 600px;
  height: 600px;
  overflow: scroll;
}

.rightSide{
  display: flex;
  flex-direction: column;
  width: 100vh;
}

.userSelect 
{
  display: flex;
  align-items: center;
  padding: 10%
}

.user-header{
  width: 100%;
  display: flex;
  box-shadow: 0px 4px 1px #d7d7d7;
  align-items: center;
}

.user-image{
  width: 8%;
  border-radius: 50%;
  margin: 15px;
}

.chatSection
{
  height: 100vh;
}

.messageBox
{
display: flex;
margin-left: 35%;
}

.chat-globe{
  max-width: 65%;
  background: #333333;
  border-radius: 8px;
  padding: 10px;
  margin: 15px;
  position: relative;
  right: -245px;
}

.chat-globe-user{
  max-width: 65%;
  background: #616161;
  border-radius: 8px;
  padding: 10px;
  margin: 15px;
  position: relative;
  right: 0;
}

.name-globe{
  margin: 0;
    color: #fff;
    text-align: left;
}

.text-globe{
  margin: 10px 0 0 0;
    color: #fff;
    text-align: left;
}

.textBox{
  height: 48px;
  padding: 0 15px;
  width: 75%;
  border-radius: 8px;
  border: 1px solid #afafaf;
}

.login{
  margin: 45px 0 0 0;
}

.login-title{
    font-size: 24px;
    font-weight: 800;
    margin: 10px 0 30px;
}

.chat-container{
  margin-top: 30px;
}

.sendButton{
  width: 15%;
  height: 48px;
  margin-left: 15px;
  border: none;
  background-color: red;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
}

.sendButton:hover{
  background-color: rgb(119, 0, 0);
}

.login-logo{
  width: 10%;
}

.login-input{
  width: 30%;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #9d9d9d;
  padding: 0 15px;
}

.login-button{
    width: 10%;
    height: 48px;
    margin-left: 15px;
    border: none;
    background-color: red;
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
}



.sidemenu
{
  display: flex;
  flex-direction: column;
  flex: 0.35;
  width: 35%;
  height: 800px;
    background: black;
}

.sidemenu_header{
  display: flex;
  background-color: #fff;
  color: white;
  justify-content: center;
  align-items: center;
}

.sidebar-header{
  color: red;
}

.sidebar-logo{
  width: 15%;
  margin-right: 15px;
}

.sidemenu_user{
  background-color: black;
  color: white;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid red;
}
.sidemenu_user_chat{
  background-color: black;
  color: white;
  display: flex;
  padding: 20px 25px;
  align-items: center;
  justify-content: start;
}

.sidemenu_user_chat:hover
{
  background-color: rgb(51, 51, 51);
}

.sidemenu_user_chat_active{
  background-color: rgb(51, 51, 51);
  color: white;
  display: flex;
  padding: 20px 25px;
  align-items: center;
  justify-content: start;
}

.sidemenu-user-image{
    width: 20%;
    border-radius: 50%;
    margin-right: 15px;
}

.sidemenu_chats
{
  color: white;
  background-color: black;
}

.chatName
{

}

.chatMessage
{

}

.form-container{
  width: 100%;
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 834px){
  .sidemenu{
    flex: auto !important;
  }

  .sidemenu_header{
    padding: 4px 0;
  }
  .sidebar-header{
    font-size: 21px;
  }
  .textBox{
    width: 70% !important;
  }
  .user-name{
    margin-left: 20px;
  }
  .chat{
    height: 365px !important;
    min-height: 365px !important;
  }
  .chat-globe{
    right: -180px;
    max-width: 55%;
  }
}

@media screen and (max-width: 414px){
  .sidemenu{
    flex: auto !important;
  }

  .rightSide
  {
    width: 59vh !important;
  }

  .login-input
  {
    width: 45%;
  }

  .login-button
  {
    width: 25%;
  }

  .login
  {
    margin: 45px 0px 0px 115px;
  }

  .login-logo
  {
    width: 20%;
  }

  .chat
  {
    width: 100%;
  }

  .sidebar-header
  {
    display: none;
  }

  .sidebar-logo
  {
    width: 35%;
    margin: 0%;
  }

  .sidemenu_header{
    padding: 4px 0;
  }
  .sidebar-header{
    font-size: 21px;
  }
  .textBox{
    width: 70% !important;
  }
  .user-name{
    margin-left: 20px;
  }
  .chat{
    height: 365px !important;
    min-height: 365px !important;
  }
  .chat-globe{
    right: -180px;
    max-width: 55%;
  }
  .textBox
  {
    padding: 1px;
  }
}